<!DOCTYPE html>
<!--[if IEMobile 7 ]>    <html class="no-js iem7"> <![endif]-->
<!--[if (gt IEMobile 7)|!(IEMobile)]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <title>mini's design house</title>
    <meta name="description" content="mini's personal website.">
    <meta name="keywords" content="design,ui,web,illust,girl,dot">
    
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
    
    <!-- Shortcut icon images. -->
    <!--
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/touch/apple-touch-icon-144x144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/touch/apple-touch-icon-114x114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/touch/apple-touch-icon-72x72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="images/touch/apple-touch-icon-57x57-precomposed.png">
    <link rel="shortcut icon" href="images/touch/apple-touch-icon.png">
    -->
    
    <!-- For iOS web apps. Delete if not needed. https://github.com/h5bp/mobile-boilerplate/issues/94 -->
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="mini's design house">
    
    <!-- This script prevents links from opening in Mobile Safari. https://gist.github.com/1042026 -->
    <!--
    <script>(function(a,b,c){if(c in b&&b[c]){var d,e=a.location,f=/^(a|html)$/i;a.addEventListener("click",function(a){d=a.target;while(!f.test(d.nodeName))d=d.parentNode;"href"in d&&(d.href.indexOf("http")||~d.href.indexOf(e.host))&&(a.preventDefault(),e.href=d.href)},!1)}})(document,window.navigator,"standalone")</script>
    -->
    
    <!-- build:css styles/main.min.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
    
    <!-- build:js scripts/vendor/modernizr.js -->
    <script src="bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->
  </head>
  
  <body>
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    
    <!--[if lt IE 9]>
      <script src="bower_components/es5-shim/es5-shim.js"></script>
      <script src="bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->
    
    <!-- Add your site or application content here -->
    
    <!-- container-->
    <div id="main-container" ng-controller="MainCtrl">
      <!-- header -->
      <header id="header">
        <div class="container">
          <h1 class="logo"><a href="/">MINI`s Design House</a></h1>

          <nav class="nav-buttons">
            <button class="home"
                    ng-class="{selected: currentPath == '/'}"
                    ng-disabled="currentPath == '/'"
                    ng-click="navigate('/');">HOME</button><!--
                    
         --><button class="profile"
                    ng-class="{selected: currentPath == '/profile'}"
                    ng-disabled="currentPath == '/profile'"
                    ng-click="navigate('/profile');">PROFILE</button><!--
                    
         --><button class="portfolio"
                    ng-class="{selected: currentPath == '/portfolio'}"
                    ng-disabled="currentPath == '/portfolio'"
                    ng-click="navigate('/portfolio');">PORTFOLIO</button><!--
                    
         --><button class="contact"
                    ng-class="{selected: currentPath == '/contact'}"
                    ng-disabled="currentPath == '/contact'"
                    ng-click="navigate('/contact');">CONTACT</button>
          </nav>
        </div>
      </header>
      <!-- /header -->
      
      <!-- content -->
      <div id="content" ng-view></div>
      
      <!-- footer -->
      <footer id="footer">
        <div class="container">
          <p class="copyright">minhee hayashi Copyright©since2014 All Rights Reserved.</p>

          <ul class="sns-links">
            <li class="twitter"><a href="https://www.twitter.com/" target="_blank"><img src="images/sns_twitter.png" alt="twitter"></a></li><!--
         --><li class="facebook"><a href="https://facebook.com/" target="_bank">twitter</a></li>
          </ul>
        </div>
      </footer>
      <!-- /footer -->
    </div>
    <!-- /container-->
    
    <!-- build:js scripts/main.min.js -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="scripts/main.js"></script>
    <!-- endbuild -->
  </body>
</html>