<!DOCTYPE html>
<!--[if IEMobile 7 ]>    <html class="no-js iem7"> <![endif]-->
<!--[if (gt IEMobile 7)|!(IEMobile)]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <title>mini's design house</title>
    <meta name="description" content="mini's personal website.">
    <meta name="keywords" content="design,ui,web,illust,girl,dot">
    
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
    
    <!-- Shortcut icon images. -->
    <!--
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/touch/apple-touch-icon-144x144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/touch/apple-touch-icon-114x114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/touch/apple-touch-icon-72x72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="images/touch/apple-touch-icon-57x57-precomposed.png">
    <link rel="shortcut icon" href="images/touch/apple-touch-icon.png">
    -->
    
    <!-- For iOS web apps. Delete if not needed. https://github.com/h5bp/mobile-boilerplate/issues/94 -->
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="mini's design house">
    
    <!-- This script prevents links from opening in Mobile Safari. https://gist.github.com/1042026 -->
    <!--
    <script>(function(a,b,c){if(c in b&&b[c]){var d,e=a.location,f=/^(a|html)$/i;a.addEventListener("click",function(a){d=a.target;while(!f.test(d.nodeName))d=d.parentNode;"href"in d&&(d.href.indexOf("http")||~d.href.indexOf(e.host))&&(a.preventDefault(),e.href=d.href)},!1)}})(document,window.navigator,"standalone")</script>
    -->
    
    <!-- build:css styles/main.min.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
    
    <!-- build:js scripts/vendor/modernizr.js -->
    <script src="bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->
  </head>

  <body>
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!--[if lt IE 9]>
      <script src="bower_components/es5-shim/es5-shim.js"></script>
      <script src="bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->
    
    <!-- Add your site or application content here -->
    
    <!-- container-->
    <div id="container" ng-controller="MainCtrl">
      <!-- header -->
      <header id="header">
        <a href="http://miniminihouse.github.io/">mini`s design house</a>
        <nav>
          <button ng-click="navigate('/');">HOME</button>
          <button ng-click="navigate('/profile');">PROFILE</button>
          <button ng-click="navigate('/portfolio');">PORTFOLIO</button>
          <button ng-click="navigate('/contact');">CONTACT</button>
        </nav>
      </header>
      <!-- /header -->

      <!-- content -->
      <div id="content" ng-view>
        <h2 id="hitokoto">welcome</h2>
          <h3 id="title">about</h3>
             <p>Hayashi Minhee（ハヤシ ミンヒ）
東京都在住   UI/UX	& グラフィックデザイナー

韓国ソウルHOSEO専門学校でコンピューアニメーション専攻
セツモードセミナーでファッションイラスト科専攻

PC＆モバイルのUI/UXデザイナー
ゲームのUIデザイン
ガールズイラスト
きせかえ、絵文字、ゲームコンテンツ多数

2010.10~2011.7 フリーランサーデザイン外注 
モバイル公式サイトのなどの制作
<a class="more">> More..</a>
              </p>
            <img src="img/bg_chara1.png">
          </div>
      <!-- /content -->

      <!-- footer -->
      <footer id="footer">
        <p class="copyright">Copyright 2014 © MiniMini All Rights Reserved.</p>
        
        <ul class="sns-links">
          <li><a href="https://www.facebook.com/" target="_blank">facebook</a></li>
          <li><a href="https://twitter.com/" target="_bank">twitter</a></li>
        </ul>
      </footer>
      <!-- /footer -->
    </div>
    <!-- /container-->

    <!-- build:js scripts/main.min.js -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="scripts/main.js"></script>
    <!-- endbuild -->
  </body>
</html>