@charset "utf-8";

// =============================================================================
// Imports
// =============================================================================

@import "compass";

// =====================================
// Non Imported Compass Modules
// (http://beta.compass-style.org/reference/compass/)
// =====================================

// Compass Layout (http://compass-style.org/reference/compass/layout/)
@import "compass/layout/sticky-footer";
@import "compass/layout/stretching";

// Compass Reset (http://compass-style.org/reference/compass/reset/)
@import "compass/reset"; // == @include global-reset;
@import "compass/reset/utilities";

// Flexbox (http://beta.compass-style.org/reference/compass/css3/flexbox/)
@import "compass/css3/flexbox";

// =====================================
// Compass Plugins
// =====================================

// Susy (http://susy.oddbird.net/)
@import "susy";

// Breakpoint (http://breakpoint-sass.com/)
@import "breakpoint";

// =============================================================================
// Additional reset
// =============================================================================

body {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;
  
  -webkit-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  
  -webkit-text-size-adjust: none;
  
  cursor: default;
}

button,
a[ng-click] {
  outline: none;
}

// =============================================================================
// Mixins
// =============================================================================

@mixin font-size($size) {
  // rem サポートブラウザは現在 Firefox3.6+, Chrome, Safari5, IE9+ のみ
  // rem 非対応ブラウザの為に px も設定しておく
  font-size: $size+px;
  font-size: $size/10+rem;
}

@mixin line-height($size) {
  line-height: $size+px;
  line-height: $size/10+rem;
}

// =============================================================================
// Fonts
// =============================================================================

// =============================================================================
// Animations
// =============================================================================

// =============================================================================
// Configuration
// =============================================================================

$container-max-width: 960px;

// =====================================
// Breakpoint
// (http://breakpoint-sass.com/)
// =====================================

$breakpoint-desktop: 900px; // スクリーン幅が 900px 以上だったらデスクトップ
$breakpoint-tablet: 750px; // スクリーン幅が 600px 以上だったらタブレット
// それ以外はモバイル（モバイルファスト！）

// =====================================
// Susy
// (http://susy.oddbird.net/)
// =====================================

// Grid レイアウトが必要な場合は Susy が便利（今回は Grid レイアウト要らなさそう）
$susy: (
  global-box-sizing: border-box,
  use-custom: (rem: true)
);

@include border-box-sizing;

// =============================================================================
// Main style
// =============================================================================

html {
  font-size: 62.5%; // これで 1em が 10px と同じになる
}

// =====================================
// Root container
// =====================================

body{
  // フォント指定（参照：http://www.dtp-transit.jp/misc/web/post_1881.html）
  font-family: Verdana, "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif; // ゴシック体
  //font-family: "Times New Roman", "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "メイリオ", Meiryo, serif;// 明朝体
  //font-family: "Osaka－等幅", Osaka-mono, "ＭＳ ゴシック", "MS Gothic", monospace; // 等幅書体
  //font-family: "ヒラギノ丸ゴ ProN W4", "Hiragino Maru Gothic ProN", "メイリオ", Meiryo, fantasy; // OS X限定 丸ゴシック体

  @include font-size(14);
}

/* #content {
  padding: 14px;
  width: 1000px;
  margin-bottom: 94px;
  overflow: hidden;
}
#hitokoto{
  width:image-width('h1_welcome.png')/2;
  height:image-height('h1_welcome.png')/2;
  float:left;
  text-indent: -9999px;
  background:image-url('h1_welcome.png') no-repeat 0 0;
  @include background-size(image-width('h1_welcome.png')/2 image-height('h1_welcome.png')/2);
  margin-bottom:100px;
}

#title{
  width:502px;
  height:45px;
  float:left;
  text-indent: -9999px;
  background:url(../img/h2_about.png) no-repeat 0 0;
}

img{
  width:498px;
  float:right;
  margin-left:20px;
}
#header a{
  display:block;
  background:url(../img/logo.png) no-repeat 0 0;
  width:100%; 
  height:100%;
  border-bottom: 0;
  text-indent: -9999px;
  margin-bottom:20px; margin-top:30px;
}
nav{
  float: none;
  clear: both;
  width: 100%; */

#main-container {
  overflow: hidden;
  background-color:#dbb9b7;
}

// =====================================
// Header
// =====================================

#header {
  min-height: 50px;
  background: #dbb9b7;
  
  > .container {
    position: relative;
    @include container($container-max-width);
    @include clearfix;
  }
  
  .logo {
    padding: 10px 10px;
    border-bottom: 0px solid #d4b3b0;
    
    @include breakpoint($breakpoint-tablet) {
      @include span(2 of 5);
      border-bottom: none;
    }
    
    a {
      color: #b29290;
      @include font-size(20);
      font-weight: bold;
      text-decoration: none;
      @include line-height(30);
      white-space: nowrap;
      
      @include breakpoint($breakpoint-tablet) {
        @include font-size(24);
        @include line-height(50);
      }
    }
  } // .logo
  
  .nav-buttons {
    background: #b29290;
    
    @include breakpoint($breakpoint-tablet) {
      @include span(3 of 5 last);
      margin: 20px auto 0;
      text-align: right;
      background: none;
    }
    
    button {
      position: relative;
      display: inline-block;
      width: 25%;
      height: 60px;
      
      margin: 0;
      padding: 0;
      color: #ffffff;

      @include font-size(12);
      font-family: bold;
      @include line-height(50);
      text-align: center;
      
      background: none;
      border: none;
      
      @include box-sizing(border-box);
      
      &:before {
        display: none;
      }
      
      @include breakpoint($breakpoint-tablet) {
        height: 100%;
        
        &:before {
          display: block;
        }
      }
      
      &.selected {
        border-bottom: 6px solid #ffffff;
        color: #ffffff;
        
        @include breakpoint($breakpoint-tablet) {
        border-bottom: 6px solid #b2918f;
        color: #b2918f;
      }
      }
      
      &.ng-click-active:not([disabled]) {
        border-bottom: 6px solid #ddaaaa
      }
      
      @include breakpoint($breakpoint-tablet) {
        @include font-size(14);
      }
    } // button
    
    button:hover{border-bottom: 6px solid #b2918f;} 
    
    .home {
      &:before {
        content: "";
        position: absolute;
        top: 12px;
        left: 12px;
        width: 25px;
        height: 25px;
        background:url(../images/menu_icon_heart.png) no-repeat;
        background-size: contain;
      }
    }
    
    .profile {
      
    }
    
    .portfolio {

    }
    
    .contact {
      
    }
  } // .nav-buttons
} // #header

// =====================================
// Content (SPA contents area)
// =====================================

#content {
  @include container($container-max-width);
    
  .home {
      margin-bottom:160px;
     @include breakpoint($breakpoint-desktop) {
      margin-bottom:50px;
    } 
    #main_image{
      width:320px;
      height:81px;
      background:url(../images/top/sp_bg_chara1.png) no-repeat;
      display:block;
      background-size: contain;
      padding:0 0 800px;
      
      @include breakpoint($breakpoint-tablet) {
        width:auto;
        height:725px;
        background:url(../images/top/bg_chara1.png) no-repeat;
        background-position: center right;
      }
    }
    
    background-color:#dbb9b7;
    
    article {
      padding: 90px 0 0;
      
      @include breakpoint($breakpoint-tablet) {
       margin-right: 400px;
       padding:30px 0 0;
      }
      @include breakpoint($breakpoint-desktop) {
      margin-right: 400px;
      } 
      >h2 {
      margin: 0 10px 0;
    }
      >h3 {
        margin:7px 0px 7px 0px;
        font-size: 20px;
        display:block;
        font-family: "Myriad Web Pro";
        color: #fff;
        padding:10px 15px 10px 15px;
        @include filter-gradient(#dda8a8, #dda8a8, horizontal); // IE6-9
        @include background-image(linear-gradient(left,  rgba(221,168,168,1) 0%,rgba(221,168,168,0) 100%));
      }
      h4{font-weight:bold;
      color:#b29290;
      margin:0px 15px 10px 15px;
      }
      > p{
        color:#fff;
        font-size:12px;
        margin:0px 15px 10px 15px;
        line-height:18px;
      }
      
       .more{
        display:block;
        float:right;
        margin:15px;
        }
    }
    
  } // .home
  
  .profile {
      padding:0 0 40px;
      > h2 {margin:10px;
    }
    
    article {
      >h3 {
        margin:7px 0px 7px 0px;
        font-size: 20px;
        display:block;
        font-family: "Myriad Web Pro";
        color: #fff;
        padding:10px 15px 10px 15px;
        @include filter-gradient(#dda8a8, #dda8a8, horizontal); // IE6-9
        @include background-image(linear-gradient(left,  rgba(221,168,168,1) 0%,rgba(221,168,168,0) 100%));
      }
      
      > p{
        color:#fff;
        font-size:12px;
        margin:0px 15px 10px 15px;
        line-height:18px;
        text-align:center;
      }
    }
  } // .profile
  
  .portfolio {
    padding:0 0 45px;
    
    > h2 {
      display: none;
    }
    
    .project-summary {
      > h3 {
        
      }
      
      ul{
        list-style:none;
      }
      
      #works{
        .work {
          text-align: center;
          
          li{
            display: inline-block;
            width:250px; 
            height:210px; 
            margin:20px 20px 0; 
            text-align: left;
            background:#fff; 
          }
        }
      } // #works
      
      > p {
        
      }
    } // .project-summary
    
    .project-thumbnail {
      > img {
        
      }
    } // .project-thumbnail
  } // .profile
  
  .contact {
      padding:0 0 50px;
      background-color:ebdbdb;
      
    #main_image{
      width:320px;
      height:81px;
      background:url(../images/contact/main.jpg) no-repeat;
      display:block;
      background-size: contain;}
      
      > h2 {margin:10px;
    }
    
    .contact-detail {
       width:320px;
       height:322px;
       padding:100px 20px 0;
        
        background:url(../images/contact/bg.png) no-repeat;
        display:block;
        background-size: contain;
        
      > p{
        color:#fff;
        font-size:12px;
        //margin:40px 15px 10px 15px;
        line-height:18px;
        text-align:center;
      }
    }
  } // .contact
} // #content

// =====================================
// Footer
// =====================================

#footer {
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
  
  min-height: 22px;
  
  background: #c4a7a3;
  
  > .container {
    position: relative;
    @include container($container-max-width);
  }
  
  .copyright {
    color: #ffffff;
    @include font-size(10);
    font-weight: normal;
    @include line-height(22);
    text-align: center;
    
    @include breakpoint($breakpoint-desktop) {
      @include font-size(14);
      @include line-height(44);
    }
  } // .copyright
  
  .sns-links {

    list-style: none;
    
    position: absolute;
    top: -(28px+15);
    right: 10px;
    
      @include breakpoint($breakpoint-tablet) {
      top: -((86px+20)/2);
    }
    
    @include breakpoint($breakpoint-desktop) {
      top: -((56px+20)/2);
    }
    
    > li {
      display: inline-block;
      overflow: hidden;
    
      @include breakpoint($breakpoint-tablet) {
        width: 36px;
        height: 36px;
        margin: 10px;
        @include border-radius(56px/2);
      }
        @include breakpoint($breakpoint-desktop) {
        width: 56px;
        height: 56px;
        margin: 10px;
        @include border-radius(56px/2);
      }
    }
    
    .facebook{
      @include border-radius(28px/2);
      margin: 5px;
      background:url(../images/sns_facebook.png) no-repeat #3c5a98;
      background-size:30px 30px;
      background-position:center;
      @include hide-text;
      
/*       @include breakpoint($breakpoint-tablet) {
        width: 36px;
        height: 36px;
        margin: 10px;
        @include border-radius(56px/2);
      }
        @include breakpoint($breakpoint-desktop) {
        width: 56px;
        height: 56px;
        margin: 10px;
        @include border-radius(56px/2);
      } */
    }
    
    .twitter{
      @include border-radius(28px/2);
      margin: 5px;
      background:url(../images/sns_twitter.png) no-repeat #55acef;
      background-size:30px 30px;
      background-position:center;
      @include hide-text;
      
/*       @include breakpoint($breakpoint-tablet) {
        width: 36px;
        height: 36px;
        margin: 10px;
        @include border-radius(56px/2);
      }
      
      @include breakpoint($breakpoint-desktop) {
        width: 56px;
        height: 56px;
        margin: 10px;
        @include border-radius(56px/2);
      } */
    }
    
    a {
      display: block;
      width: 28px;
      height: 28px;
    }
  } // .sns-links
} // #footer
