@import "partials/base";

// Global reset style
@include global-reset;

// =============================================================================
// Additional reset
// =============================================================================

body {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;
  //@include user-select(none);
  -webkit-text-size-adjust: none;
  cursor: default;
}

button,
a[ng-click] {
  outline: none;
}

// =============================================================================
// Mixins
// =============================================================================

@mixin font-size($size) {
  // rem サポートブラウザは現在 Firefox3.6+, Chrome, Safari5, IE9+ のみ
  // rem 非対応ブラウザの為に px も設定しておく
  font-size: $size+px;
  font-size: $size/10+rem;
}

@mixin line-height($size) {
  line-height: $size+px;
  line-height: $size/10+rem;
}

// =============================================================================
// Fonts
// =============================================================================

// =============================================================================
// Animations
// =============================================================================

// =============================================================================
// Configuration
// =============================================================================

$container-max-width: 960px;

// =====================================
// Breakpoint
// (http://breakpoint-sass.com/)
// =====================================

$breakpoint-desktop: 900px; // スクリーン幅が 900px 以上だったらデスクトップ
//$breakpoint-tablet: 750px; // スクリーン幅が 750px 以上だったらタブレット
// それ以外はモバイル（モバイルファスト！）

// =====================================
// Susy
// (http://susy.oddbird.net/)
// =====================================

// Grid レイアウトが必要な場合は Susy が便利（今回は Grid レイアウト要らなさそう）
$susy: (
  global-box-sizing: border-box,
  use-custom: (rem: true)
);

@include border-box-sizing;

// =============================================================================
// Main style
// =============================================================================

html {
  font-size: 62.5%; // これで 1em が 10px と同じになる
}

html, body {
  width: 100%;
  height: 100%;
  background-color:#dbb9b7;
}

// =====================================
// Container
// =====================================

body{
  // フォント指定（参照：http://www.dtp-transit.jp/misc/web/post_1881.html）
  font-family: Verdana, "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif; // ゴシック体
  //font-family: "Times New Roman", "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "メイリオ", Meiryo, serif;// 明朝体
  //font-family: "Osaka－等幅", Osaka-mono, "ＭＳ ゴシック", "MS Gothic", monospace; // 等幅書体
  //font-family: "ヒラギノ丸ゴ ProN W4", "Hiragino Maru Gothic ProN", "メイリオ", Meiryo, fantasy; // OS X限定 丸ゴシック体

  @include font-size(14); // << 基準フォントサイズ
}

#main-container {
  min-height: 100%;
  overflow: hidden;
}

.container {
  position: relative;
  @include container($container-max-width);
 // @include clearfix;
}

// =====================================
// Icons
// =====================================

$icon-sprite: get-sprite("icons");

// アイコン
//
// CSS スプライト化したアイコン画像
//
// Markup:
// <span class="icon {$modifiers}"></span>
//
// icon-home - ハート
// icon-profile - 鉛筆
// icon-portfolio - 星
// icon-contact - ケーキ
// icon-twitter - 鳥
// icon-facebook - f
// ...
//
// .icon {
//   display: inline-block;
//   margin: -1px auto 1px;
//   vertical-align: middle;
//   @include sprite-base($icon-sprite, 1);
//
//   @each $i in sprite-names($icon-sprite){
//     &.icon-#{$i}{
//       @include sprite-part($icon-sprite, #{$i}, 1);
//     }
//   }
// }

// =====================================
// Header
// =====================================

#header {
  min-height: 50px;
  background: #DBB9B7;

  @include breakpoint($breakpoint-desktop) {
    border-bottom: 1px solid #D2B0AE;
    min-height: 90px;
  }

  .logo {
    padding: 10px;
    @include line-height(30);

    @include breakpoint($breakpoint-desktop) {
      @include span(2 of 5);
      margin: 20px auto 0;
    }

    a {
      display: block;
      @include image-background('logo.png', 1);
      @include hide-text;
    }
  }

  .nav-buttons {
    background: #b29290;

    @include breakpoint($breakpoint-desktop) {
      @include span(3 of 5 last);
      margin: 30px auto 0;
      text-align: right;
      background: none;
    }

    button {
      position: relative;
      display: inline-block;
      width: 25%;

      margin: 0;
      padding: 0;
      color: #ffffff;

      font-family: Verdana, "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif; // ゴシック体
      //font-weight: bold;
      @include font-size(13);
      @include line-height(50);
      text-align: center;

      background: none;
      border: none;

      @include box-sizing(border-box);

      &:before {
        display: none;
      }

      @include breakpoint($breakpoint-desktop) {
        width: auto;
        //min-width: 100px;
        margin: auto 10px;
        padding-right: 5px;
        @include font-size(14);
        @include line-height(30);

        &:before {
          content: "";
          display: inline-block;
          vertical-align: middle;
          margin: -2px 2px 2px auto;
        }

        &.home:before {
          @include sprite($icon-sprite, 'home', 1);
        }

        &.profile:before {
          @include sprite($icon-sprite, 'profile', 1);
        }

        &.portfolio:before {
          @include sprite($icon-sprite, 'portfolio', 1);
        }

        &.contact:before {
          @include sprite($icon-sprite, 'contact', 1);
        }
      }

      &:hover{
        //border-bottom: 6px solid #b2918f;
        border-bottom: 6px solid #daa
      }

      &.selected {
        border-bottom: 6px solid #fff;
        color: #fff;

        @include breakpoint($breakpoint-desktop) {
          border-bottom: 6px solid #b2918f;
          color: #b2918f;
        }
      }

      &.ng-click-active:not([disabled]) {
        border-bottom: 6px solid #daa
      }
    }
  }
}

// =====================================
// Content (SPA contents area)
// =====================================

#content {
  //@include container($container-max-width);

  // #footer 高さ分の余白
  padding-bottom: 22px;
  @include breakpoint($breakpoint-desktop) {
    padding-bottom: 44px;
  }

  // 切り替えアニメーション ~
  opacity: 1;
  @include transform(translate(0, 0));

  &.ng-enter, &.ng-leave {
    @include stretch-x;
    margin: auto;
    @include transition(all .5s);
  }

  &.ng-enter {
    opacity: 0;
    @include transform(translateY(100px));
  }
  &.ng-enter.ng-enter-active {
    opacity: 1;
    @include transform(translateY(0));
  }
  &.ng-leave.ng-leave-active {
    opacity: 0;
    @include transform(translateY(100px));
  }

  @include breakpoint($breakpoint-desktop) {
    &.ng-enter {
      opacity: 0;
      @include transform(translateX(500px));
    }
    &.ng-enter.ng-enter-active {
      opacity: 1;
      @include transform(translateX(0));
    }
    &.ng-leave.ng-leave-active {
      opacity: 0;
      @include transform(translateX(-500px));
    }
  }
  // ~ 切り替えアニメーション

  //
  // HOME
  //

  .home {
    @include container($container-max-width);
    padding:140px 0 40px;
    @include box-sizing(border-box);

    @include background(
      image-url('characters/home-mini.png') right top no-repeat,
      linear-gradient(to right, #dca9a8, #dcb9b7) top no-repeat,
      image-url('labels/welcome.png') 10px 91px no-repeat
    );
    @include background-size(auto 81px, 100% 81px, auto 47px);

    @include breakpoint($breakpoint-desktop) {
      min-height:740px;
      padding: 140px 488px 10px 0;
      @include background(
        image-url('characters/home.png') right center no-repeat,
        image-url('labels/welcome.png') left 40px no-repeat
      );
      @include background-size(498px 725px, auto 89px);
    }

    .about {
      > h2 {
        margin: 0 10px 0;
      }

      > h3 {
        margin: 7px 0;
        display:block;

        //font-family: "Myriad Web Pro"; // >> ブラウザーフォント使うなら下のどれかじゃないとダメ
        font-family: Verdana, "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif; // ゴシック体
        //font-family: "Times New Roman", "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "メイリオ", Meiryo, serif;// 明朝体
        //font-family: "Osaka－等幅", Osaka-mono, "ＭＳ ゴシック", "MS Gothic", monospace; // 等幅書体
        //font-family: "ヒラギノ丸ゴ ProN W4", "Hiragino Maru Gothic ProN", "メイリオ", Meiryo, fantasy; // OS X限定 丸ゴシック体
        font-weight: bold;
        @include font-size(20);

        color: #fff;
        padding: 10px 15px;
        @include filter-gradient(#dda8a8, #dda8a8, horizontal); // IE6-9
        @include background-image(linear-gradient(left,  rgba(221,168,168,1) 0%,rgba(221,168,168,0) 100%));
      }

      > h4 {
        font-weight:bold;
        color:#b29290;
        margin: 10px 15px;
      }

      > p {
        color:#fff;
        font-size:12px;
        margin:0px 15px 10px 15px;
        line-height:18px;
      }

      .more{
        display:block;
        float:right;
        margin:15px;
      }

    }
  }

  //
  // PROFILE
  //

  .profile {
    @include container($container-max-width);
    padding: 90px 0 40px;

    @include background(
      image-url('labels/profile.png') 10px 10px no-repeat
    );
    @include background-size(auto 47px);

    //> h2 {
    //  margin:10px;
    //}

    article {
      > h3 {
        margin:7px 0px 7px 0px;
        padding:10px 15px 10px 15px;

        color: #fff;

        //font-family: "Myriad Web Pro";
        font-family: Verdana, "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif; // ゴシック体
        font-weight: bold;
        @include font-size(20);

        @include filter-gradient(#dda8a8, #dda8a8, horizontal); // IE6-9
        @include background-image(linear-gradient(left,  rgba(221,168,168,1) 0%,rgba(221,168,168,0) 100%));
      }

      > p{
        color:#fff;
        font-size:12px;
        margin:0px 15px 10px 15px;
        line-height:18px;
        text-align:center;
      }
    }
  }

  //
  // PORTFOLIO
  //

  .portfolio {
    @include container($container-max-width);
    padding:0 0 40px;

    @include user-select(none);

    > h2 {
      display: none;
    }

    .project-summary {
      > h3 {

      }

      ul {
        list-style:none;
      }

      #works{
        .work {
          text-align: center;

          li {
            display: inline-block;
            width:250px;
            height:210px;
            margin:20px 20px 0;
            text-align: left;
            background:#fff;
            img {
              vertical-align: middle;
            }
          }
        }
      }

      > p {

      }
    }

    .project-thumbnail {
      > img {

      }
    }
  }

  //
  // CONTACT
  //

  .contact {
    //padding: 0 0 50px;
    background-color: #ebdbdb;

    //#main_image{
    //  width:320px;
    //  height:81px;
    //  background:url(../images/contact/main.jpg) no-repeat;
    //  display:block;
    //  background-size: contain;
    //}

    @include background(
      image-url('characters/contact-mini.jpg') right top no-repeat,
      linear-gradient(to right, #ddabab, #ddabab) top no-repeat,
      image-url('labels/contact.png') 10px 91px no-repeat
    );

    @include background-size(auto 81px, 100% 81px, auto 47px);
    float:top;

    @include breakpoint($breakpoint-desktop) {
      min-height:817px;
      //padding: 140px 488px 10px 0;
      @include background(
        image-url('characters/contact.png') left no-repeat
        //image-url('labels/contact.png') left 40px no-repeat
      );
      @include background-size(817px 880px);
      background-position: -122px bottom;
    }

    .contact-container{
      @include container($container-max-width);
      padding-top: 160px;
      padding-bottom: 56px;
      //@include background(
      //  image-url('labels/contact.png') left 40px no-repeat
      //);
     @include background-size(auto 87px);

      @include breakpoint($breakpoint-desktop) {
        padding-top: 100px;
      }
    }

    .contact-detail {
      position: relative;
      //padding:250px 20px 0 20px;
      //margin-bottom:150px;
      padding-top: 100%;
      @include background(image-url('contact-frame.png') center no-repeat);
      background-size: cover;

      @include breakpoint($breakpoint-desktop) {
        background-position: center 0px;
        //width:500px;
        //height:855px;
        //padding:170px 0px 0px 0;
        margin-left:500px;
        height: 400px;
        width: 400px;
        padding: 0;
      }

      > p{
        position: absolute;
        top: 50%;
        left: 50%;
        @include transform(translate(-50%, -50%));
        width: 80%;
        color:#fff;
        font-size:12px;
        //margin:40px 15px 10px 15px;
        line-height:18px;
        text-align:center;
        display:block;
      }
    }
  }
}

.portfolio-modal {
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  background-color: rgba(0,0,0,0.8);
  overflow: auto;

  //@include flexbox((
  //  display: flex,
  //  align-items: center,
  //  justify-content: center
  //));

  @include transition(opacity linear .2s);

  &.ng-hide {
    opacity: 0;
  }


  img {
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    display: block;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
  }

  .prev-button {
    position: fixed;
    top: 50%; left: 0;
    @include transform(translateY(-50%));
  }

  .next-button {
    position: fixed;
    top: 50%; right: 0;
    @include transform(translateY(-50%));
  }
}

// =====================================
// Footer
// =====================================

#footer {
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;

  height: 22px;
  @include breakpoint($breakpoint-desktop) {
    height: 44px;
  }

  background: #c4a7a3;

  .copyright {
    color: #ffffff;
    @include font-size(10);
    font-weight: normal;
    @include line-height(22);
    text-align: center;

    @include breakpoint($breakpoint-desktop) {
      @include font-size(14);
      @include line-height(44);
    }
  }

  .sns-links {
    list-style: none;

    position: absolute;
    top: -(36px+15px);
    right: 5px;

    @include breakpoint($breakpoint-desktop) {
      top: -((56px+20)/2);
    }

    > li {
      display: inline-block;
    }

    a {
      position: relative;
      display: block;
      overflow: hidden;
      @include hide-text;

      width: 36px;
      height: 36px;
      margin: 5px;
      @include border-radius(36px/2);

      @include breakpoint($breakpoint-desktop) {
        width: 56px;
        height: 56px;
        margin: 10px;
        @include border-radius(56px/2);
      }

      &.twitter {
        background-color: #55acef;
      }

      &.facebook {
        background-color: #3c5a98;
      }

      &.behance {
        background-color: #131418;
      }

      &:before {
        content: "";
        display: block;
        @include stretch;
        margin: auto;
      }

      &.twitter:before {
        @include sprite($icon-sprite, 'twitter', 1.5);
      }

      &.facebook:before {
        @include sprite($icon-sprite, 'facebook', 1.5);
      }

      &.behance:before {
        @include sprite($icon-sprite, 'behance', 1.5);
      }
    }
  }
}
