<section class="home">
  <div id="main_image"></div>
  <h2><img src="/images/sp_welcome.png" width="260" height="47"></h2>
  <article class="about">
    <h3>About</h3>
    
    <p>Hayashi Minhee（ハヤシ ミンヒ）</p>
    <p>東京都在住   UI/UX& グラフィックデザイナー</p>

    <p>韓国ソウルHOSEO専門学校でコンピューアニメーション専攻<br>
セツモードセミナーでファッションイラスト科専攻</p>
    
    <p><strong>★ 制作環境PC</strong><br>
    ＆モバイルのUI/UXデザイナー<br>
ゲームのUIデザイン<br>
ガールズイラスト<br>
きせかえ、絵文字、ゲームコンテンツ多数</p>

    <p>2010.10~2011.7 フリーランサーデザイン外注 <br>
モバイル公式サイトのなどの制作</p>

<p><strong>★ 実績</strong><br>
2012.4~現在 (株)ディー・エヌ・エー　UI/UXデザイナー<br>
Mobage韓国プラットフォーム（PC＆モバイル）のUI/UXデザイン<br>
ゲームイベントページ＆バナー＆印刷物製作<br>
サービス全般のアートディレクション</p>

<p>2010.10~2011.7 <br>フリーランサーデザイン外注 
モバイル公式サイトのきせかえ、絵文字、ゲームコンテンツなどの制作
第21回　TIFF東京国際映画際　中国映画週間　メインデザイン</p>

<p>2006.7~2010.9 <br>アミュー(株)デザイングループ　サブマネージャー
アーティストサイト、絵文字、きせかえサイトなどの モバイル公式サイトのデザイン、更新
自社サイト、サービスコンテンツのページなど、PC用HPの制作、更新
ＳＮＳブログサイトのＨＰやモバイルサイト、アバター、ゲームコンテンツの制作
版権物のモバイルコンテンツなど多数</p>

<p>2002.2~2006.6 <br>DaeshinEntertainment デザイングループ　サブマネージャー
Microsoft MSNアバターメインデザイン、サイト更新
(株)NeoWiz sayclub アバターデザイン
NHN(株)Hangame アバターデザイン
(株)SK Communications cyworld ブログスキンデザイン
</p>
<div class="more">more></div>
  </article>
</section>